<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForBartenders</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
    <!-- <script src="script.js"></script> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>
<body>

<section class="header">
    <div class="head-nav">
        <ul class="head-ul">
            <li><a href="{% url 'home_page' %}"><img src="{% static 'images/bartender.png'%}" class="logo"></a></li>
        </ul>
        <ul class="head-ul center-head-ul">
            <li><a href=""><img src="{% static 'images/youtube.png' %}" class="youtube-h"></a></li>
            <li><a href=""><img src="{% static 'images/tg.png' %}" class="tg-h"></a></li>
            <li><a href=""><img src="{% static 'images/vk.png' %}" class="vk-h"></a></li>
        </ul>
        <ul class="head-ul right-head-ul">
            {% if request.user.is_authenticated %}
            <li><a href=""> {{ user }} </a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="out">Выход</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Вход/Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</section>
<hr>

<div class="main-section">

    {% include 'barstory/navigate.html' %}

    <hr>
    {% block content %}
    <section class="data-main">
        <div class="wrap-data-main">
            <div class="main">
                <h4>News</h4>
                <div>
                    <a href=""><img src="3.jpg" alt=""></a>
                    <p>voluptates maxime.</p>
                </div>

            </div>

            <div class="asidebar">

                <h5>Полезные ссылки</h5>
                <aside>

                    <div>
                        <a href=""><img src="2.jpg" alt="" width="180px"></a>
                        <p>fugiat.</p>
                    </div>

                </aside>
            </div>
        </div>
    </section>
</div>
{% endblock %}
<hr>

<footer>
    <div>
        <ul class="foot-ul">
            <li>
                <a href="">Politica</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>