<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
</head>
<body>

<div id="overlay" class="overlay">
    <div class="modal">
        <img src="{% static 'images/18+.png' %}" width="100px" height="100px">
        <h2>Вам есть 18 лет?</h2>
        <p>Информация на сайте не предназначена для посетителей младше 18 лет. Для доступа к ней подтвердите,
            пожалуйста, свое совершеннолетие.</p>
        <button id="confirmBtn">Да, мне есть 18 лет</button>

    </div>
</div>

<section class="header">
    <div class="head-nav">
        <ul class="head-ul">
            <li><a href="{% url 'home_page' %}"><img src="{% static 'images/bartender.png'%}" class="logo"></a></li>
        </ul>
        <ul id="top" class="banner center-head-ul">
            <div class="banner-text">
                <span>
                    <a href="https://msk.top-academy.ru/" target="_blank">
                   <img src="{% static 'images/top.png' %}" alt="" width="250px" height="70px">
                    </a>
                </span>
            </div>
        </ul>

        <ul class="head-ul right-head-ul">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile' %}"> {{ user }} </a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="out">Выход</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Вход</a></li>
            {% endif %}
        </ul>
    </div>
</section>
<!--<hr>-->

<div class="main-section">

    {% include 'barstory/navigate.html' %}

    <!--    <hr>-->
    {% block content %}
    <section class="data-main">
        <div class="wrap-data-main">
            <div class="main">
                <h4>News</h4>
                <div>
                    <a href=""><img src="3.jpg" alt=""></a>
                    <p>voluptates maxime.</p>
                </div>

            </div>

            <div class="asidebar">

                <h5>Полезные ссылки</h5>
                <aside>

                    <div>
                        <a href=""><img src="2.jpg" alt="" width="180px"></a>
                        <p>fugiat.</p>
                    </div>

                </aside>
            </div>
        </div>
    </section>
</div>
{% endblock %}
<!--<hr>-->

<footer>
    <div>
        <ul class="foot-ul">
            <li>
                <a href="{% url 'politica' %}">Политика конфеденциальности</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Контакты</a>
            </li>
        </ul>
    </div>
</footer>


<script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
</body>
</html>