{% extends 'barstory/base.html'%}
{% load static %}
{% block content %}

<div class="coctailwrap">

    <a href="#" onclick=toggleButton() class="">Классические коктейли по версии IBA</a>


    <div id="container" style="display: none">
        <ul>
            <div class="list-coctail" >
                {% for obj in coc %}
                <li><a href="{% url 'single' obj.id %}">{{ obj.title }}</a></li>
                {% endfor %}
            </div>
        </ul>
    </div>

</div>

{% endblock %}
