{% extends 'barstory/base.html'%}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="main-section">
    <div class="wrap-data-main">

        <div class="history-block">
            <h2>Историческая справка</h2>
            {% for st in story %}
            <h3>{{ st.title|safe }}</h3>
            <a href="{% url 'single-story' st.id %}"><img src="{{ st.history_photo.url }}" alt="" width="150px"></a>
            <p>{{ st.short_text|safe }}</p>
            <hr>
            {% endfor %}
            {% if story %}
            <div class="pag">
                <nav class="nav-paginator">
                    <ul class="pagination-coc justify-content-center">
                        {% if story.has_previous %}
                        <li class="page-item disabled">
                            <a class="page-link" href="?page={{ story.previous_page_number }}" tabindex="-1"
                               aria-disabled="true">&lang;
                            </a>
                        </li>
                        {% endif %}

                        {% if story.has_other_pages %}
                        {% for page in story.paginator.page_range %}
                        <li class="page-item {% if page == story.number %} active {% endif %}" }>
                            <a class="page-link" href="?page={{page}}">{{ page }}</a></li>
                        {% endfor %}
                        {% endif %}

                        {% if story.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ story.next_page_number }}"> &rang;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}

        </div>

    </div>

</div>

{% endblock %}