{% extends 'barstory/base.html'%}
{% load static %}
{% block content %}

 <section class="data-main">
        <div class="wrap-data-main">
            <div class="main">
                <h4>News</h4>
                <div>
                    <a href=""><img src="3.jpg" alt=""></a>
                    <p>voluptates maxime.</p>
                </div>

            </div>

            <div class="asidebar">

                <h5>Полезные ссылки</h5>
                <aside>

                    <div>
                        <a href=""><img src="2.jpg" alt="" width="180px"></a>
                        <p>fugiat.</p>
                    </div>

                </aside>
            </div>
        </div>
    </section>
</div>

{% endblock %}


