{% extends 'barstory/base.html'%}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<section class="data-main">
    <div class="wrap-reg-main">
        <div class="reg_card">
            <h2 class="error">{{ error }}</h2>

            <div>
                <h2 class="form-h">Вход в аккаунт</h2>
            </div>
            <div>
                <form action="{% url 'login' %}" method="post" class="reg_card-form">
                    {% csrf_token %}
                    <div class="logform">
                        <div class="inputform">
                            <label for="">username</label>
                            {{ form.username }}
                        </div>
                        <div class="inputform">
                            <label for="">password</label>
                            {{ form.password }}
                        </div>

                        <button type="submit" name="" class="form-but">Войти</button>
                    </div>
                    <div class="form-foot">
                        <h5 class="form-h">Зарегистрируйтесь, если нет аккаунта</h5>
                        <a  href="{% url 'registration' %}" class="log-reg-link">Регистрация</a>
                    </div>

                </form>
            </div>
        </div>
</section>
{% endblock %}
